<section class="section-form">
<div class="row">
    <h2>Add a contact</h2>
</div>
<div style="
margin-left: auto;
margin-right: auto;
width: 50%;
margin-bottom: 16px;
">
    <app-common-multiselect [dropdownList]="dropdownList" [selectedItems]="selectedItems"
    (onItemSelects)="onItemSelect($event)"></app-common-multiselect>
</div>
<div class="row">
    <form class="contact-form" #f="ngForm" (submit)="f.form.valid && onCreate(f)">
        <div class="row">
          <div class="col span-1-of-3">
              <label for="name">First Name</label>
          </div>
          <div class="col span-2-of-3">
           <input type="text" 
           class="form-control"
           [ngClass]="{ 'is-invalid': f.submitted && firstName.invalid }"
            name="firstName" 
            placeholder="First name"
            ngModel
            #firstName="ngModel"
            required
           >
           <div *ngIf="(firstName.touched || f.submitted) && firstName.invalid" class="invalid-feedback">
            <div class="mat-error" *ngIf="firstName.invalid">Please eneter first name</div>
           </div>
           
          </div>  
        </div>
        <div class="row">
            <div class="col span-1-of-3">
                <label for="name">Last Name</label>
            </div>
            <div class="col span-2-of-3">
             <input type="text" 
             class="form-control"
             [ngClass]="{ 'is-invalid': f.submitted && lastName.invalid }"
              name="lastName" 
              placeholder="Last name"
              ngModel
              #lastName="ngModel"
              required>
              <div *ngIf="(lastName.touched || f.submitted) && lastName.invalid" class="invalid-feedback">
                  <div class="mat-error" *ngIf="lastName.invalid">Please eneter last name</div>
            </div>
            </div>  
        </div>
        <div class="row">
            <div class="col span-1-of-3">
                <label for="email">Email</label>
            </div>
            <div class="col span-2-of-3">
             <input type="email" 
             name="email" 
             class="form-control"
             [ngClass]="{ 'is-invalid': f.submitted && email.invalid }"
             placeholder="Email"
             ngModel
             #email="ngModel"
             placeholder="E-Mail"
             required email>
             <div *ngIf="(email.touched || f.submitted) && email.invalid" class="invalid-feedback">
                 <div class="mat-error" *ngIf="email.invalid">Please eneter a valid email</div>
             </div>
            </div>  
        </div>
        <div class="row">
            <div class="col span-1-of-3">
                <label for="number">Phone Number</label>
            </div>
            <div class="col span-2-of-3">
             <input type="text" 
             name="phoneNumber" 
             class="form-control"
             [ngClass]="{ 'is-invalid': f.submitted && phoneNumber.invalid }"
             placeholder="Phone number"
             ngModel
             #phoneNumber="ngModel"
             required
             pattern="^[+]*[(]{0,1}[0-9]{1,4}[)]{0,1}[-\s\./0-9]*$"
             >
             <div *ngIf="(phoneNumber.touched || f.submitted) && phoneNumber.invalid" class="invalid-feedback">
                 <div class="mat-error" *ngIf="phoneNumber.invalid">Please eneter a valid phone number</div>
                 </div>
            </div>  
        </div>
        <div class="row">
            <div class="col span-1-of-3">
                <label for="status">Status</label>
            </div>
            <div class="col span-2-of-3">
             <select name="status" class="form-control" ngModel
             #status="ngModel"
             required>
                 <option value="Active" >Active</option>
                 <option value="Inactive">Inactive</option>
             </select>
            </div>  
        </div>
        <div class="row">
            <div class="col span-1-of-3">
                <label for="number">&nbsp;</label>
            </div>
            <div class="col span-2-of-3">
             <input type="submit" value="Add Contact">
            </div>  
        </div>
    </form>
</div>
</section>