
<section class="section-form">
    <div class="row">
        <h2>Contacts list</h2>
    </div>

    <div style="
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-bottom: 16px;
    ">
        <app-common-multiselect [dropdownList]="dropdownList" [selectedItems]="selectedItems"
        (onItemSelects)="onItemSelect($event)"></app-common-multiselect>
    </div>
<p-table #dt [value]="contacts"  dataKey="id" styleClass="ui-table-customers" [rowHover]="true"
    [rows]="10" [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50]" [loading]="loading"
    [paginator]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [filterDelay]="0" >
    <!-- <ng-template pTemplate="caption">
        List of Contacts
        
    </ng-template> -->
    <ng-template pTemplate="header">
        <tr>
            <th pSortableColumn="firstName">First Name <p-sortIcon field="firstName"></p-sortIcon></th>
            <th pSortableColumn="lastName">Last Name <p-sortIcon field="lastName"></p-sortIcon></th>
            <th pSortableColumn="email">Email <p-sortIcon field="email"></p-sortIcon></th>
            <th pSortableColumn="phoneNumber">Phone Number<p-sortIcon field="phoneNumber"></p-sortIcon></th>
            <th pSortableColumn="status">Status <p-sortIcon field="status"></p-sortIcon></th>
            <th >Edit</th>
            <th >Delete</th>
        </tr>
       
    </ng-template>
    <ng-template pTemplate="body" let-contacts>
        <tr class="ui-selectable-row">
            
            <td>
                
                {{contacts.firstName}}
            </td>
            <td>
                
                <span style="vertical-align: middle; margin-left: .5em">{{contacts.lastName}}</span>
            </td>
            <td>
                
                <span style="vertical-align: middle; margin-left: .5em">{{contacts.email}}</span>
            </td>
            <td>
                
                {{contacts.phoneNumber}}
            </td>
            <td>
                
                <span [class]="'customer-badge status-' ">{{contacts.status}}</span>
            </td>
            <td>
                
                <i title="Edit this contact" class="fas fa-pencil-alt" [routerLink]="['/EditContact', contacts._id]" style="color: #007ad9;"></i>
                
            </td>
            <td>
                
                <i title="Delete this contact" class="fas fa-trash-alt" style="color: #dc3545;" (click)="onRemove(contacts._id)"></i>
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
        <tr>
            <td colspan="8" style="text-align:left">No contacts found.</td>
        </tr>
    </ng-template>
</p-table>

</section>